.contanervideo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.videorad{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    overflow: hidden;
    border-radius: 12px;
    background-color: black;
}

.infovideoNone{
    width: 700px;
    height: 400px;
    z-index: 2;
    position: absolute;
    display: none;
    visibility: hidden;
    color: white;
}

.infovideoFlex{
    width: 800px;
    height: 450px;
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 12px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.pasu{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    color: white;
    background-color: transparent;
    transition: all .3s;
}

.pasu:active{
    background-color: rgba(0, 0, 0, 0.24);
}

.audeo{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    color: white;
    background-color: transparent;
    transition: all .3s;
}

.inputaudeoNone{
    display: none;
}

.inputaudeoFlex{
    display: flex;
}

.contaneraoude{
    display: flex;
}

.inputinfo{
    width: 100%;
    margin-left: 5px;
}

.video{
    width: 800px;
    height: 500px;
}

.bottominfo{
    width: 100%;
    height: 10%;
    border-top: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
}